.App {
	margin-top: 2%;
	margin-left: 5%;
	width: 1200px;
	height: 570px;
	border-radius: 25px;
	background: radial-gradient(100% 50% at top left, #fff 98%, transparent 100%)
			top 0 right 0 /30px 50px,
		radial-gradient(100% 50% at bottom right, transparent 98%, #fff 100%) top 0
			right 30px/30px 50px,
		radial-gradient(100% 50% at bottom left, #fff 98%, transparent 100%) top
			50px right 0 /30px 50px,
		radial-gradient(100% 50% at top right, transparent 98%, #fff 100%) top 50px
			right 30px/30px 50px,
		linear-gradient(#fff, #fff) bottom/100% calc(100% - 100px),
		linear-gradient(#fff, #fff) left / calc(100% - 60px) 100%;
	background-repeat: no-repeat;
	font-family: cursive;
	color: #b2beb5;
}

.main-container {
	margin-left: 10%;
}

.talk-header {
	font-family: cursive;
	color: #7733ff;
}

.input-field {
	border-radius: 50px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 50px;
	background-color: whitesmoke;
	border: none;
	outline: none;
}

.input-field1 {
	border-radius: 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 15px;
	background-color: whitesmoke;
	border: none;
	outline: none;
}

.form-btn {
	margin-top: 3%;
	border-radius: 50px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 50px;
	background-color: #7733ff;
	height: 50px;
	width: 200px;
	color: whitesmoke;
	border: none;
	outline: none;
}

.left-side {
	margin-top: 4%;
}

img {
	max-width: 50%;
	max-height: 50%;
	display: block;
	margin: 0 auto;
}

.right-side {
	margin-left: 24%;
	margin-top: 7%;
}

.svg-icons {
	color: #7733ff;
}

.svg-icons2 {
	color: #7733ff;
	height: 7vmin;
	width: 7vmin;
}

.image-div {
	margin-top: 8%;
}
